
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .page-header {
            background: linear-gradient(145deg, #333333, #444444);
            text-align: center;
            top: 0;   
        }
        /* Fejléc szöveg */
.page-header h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
    padding: 16px;
  }
  
  /* Hover animáció */
  .page-header h1:hover {
    color: #ffcc00; /* Eltérő szín hover hatásra */
    cursor: pointer;
  }

        #pokerTable {
            width: 43vw;
            max-width: 600px;
            height: auto;
            margin: 50px auto;
            aspect-ratio: 2/1;
            display:block;
            background-color: #4CAF50;
            border-radius: 20px;
            border-color: black;
            border: 12px solid rgb(200, 160, 109);
            position: relative;
            top:-5px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        #dealer {
            position: absolute;
            top: 58px; /* Az asztal tetejéhez közel */
            left: 50%; /* Az asztal közepére igazítva */
            transform: translateX(-50%); /* A bal oldali eltolás kiegyensúlyozása, hogy pontosan középen legyen */
            width: 10vw; /* Állítsd be a megfelelő képméretet */
            height: 9.75vw;
            width: 150px;
            z-index: 10; /* Biztosítja, hogy a dealer a pozíciók fölött legyen */
        }
        @media (max-width: 600px) {
            #dealer {
                display: none;  /* Mobilon elrejtve */
            }
        }

        .positionCircle {
    width: 4vw;
    position: absolute;
    height: 4vw;
    
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    line-height: 60px;
    position: absolute;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
@media (max-width: 10px) {
    .position {
        font-size: 1vw;
    }
}
.villainChip {
    position: absolute;
    top: -30px; /* Pozíció finomhangolása a kör fölé */
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background-color: yellow;
    border-radius: 50%;
    display: none; /* Alapból rejtve */
    border: 2px solid black; /* Fekete körvonal */

}


.highlightedVillain .villainChip {
    display: block;
}

/* Felső pozícióknál a zseton alá kerül */
#SB.highlightedVillain .villainChip,
#BB.highlightedVillain .villainChip {
    top: 70px; /* A pozíció méretét figyelembe véve */
}
/* BU esetén a zseton a jobb oldalra kerül */
#BU.highlightedVillain .villainChip {
    left: 75px;
    top: 25px;
    transform: none;
}

/* UTG esetén a zseton a bal oldalra kerül */
#UTG.highlightedVillain .villainChip {
    left: -30px;
    top: 25px;
    transform: none;
}

        .highlightedHero {
            background-color: #76c7c0;
            color: white;
        }

        .highlightedVillain {
            background-color: #f4d03f;
            color: white;
        }
        .foldText {
    position: absolute;
    top: -35px; 
    color: rgb(0, 0, 0);
    font-size: 11px;
}
.handText {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    
    
}

#MP .handText, #CO .handText {
    top: -40px; /* A pozíció neve fölött */
}


#SB .handText, #BB .handText {
    top: 40px; /* A pozíció neve alatt */
}
#BU .handText{
    left: 75px;
    top: 25px;
    transform: none;
}
        

        /* Pozíciók elhelyezése */
        #SB { top: 10px; left: 33%; }
        #BB { top: 10px; left: 66%; }
        #UTG { top: 50%; right: 10px; transform: translateY(-50%); }
        #MP { bottom: 10px; left: 66%; }
        #CO { bottom: 10px; left: 33%; }
        #BU { top: 50%; left: 10px; transform: translateY(-50%); }

        #question {
            font-size: 18px;
            margin-top: 31px;
            font-weight: bold;
        }

        #score {
            font-size: 24px;
            font-weight: bold;
            text-align: right;
            margin-right: -320px;    
        }
        p {
            font-size: 20px;
            font-weight: bold;
        }

        #message {
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
            margin-right: -320px;   
            
        }

        button {
            width: 6vw; 
            height: 6vw;
            border: none;
            background: url('Images/CHIPWIN.jpg') no-repeat center center; 
            background-size: cover; 
            position: relative;
            cursor: pointer;
             top: 0px;
            transition: transform 0.3s ease;
            margin: 15px;
        }
        .button span {
            font-size: 13px;  
            font-weight: bold; 
            color: rgb(0, 0, 0);  
            text-shadow: 0px 1px 2px rgb(123, 121, 121); 
        }
    
        button:active {
            transform: scale(0.9); /* Kisebbítés aktív állapotban */
        }

        #wrongAnswers {
            margin-top: 20px;
            text-align: left;
            display: inline-block;
            max-height: 200px;
            overflow-y: scroll;
        }

        li {
            font-size: 14px;
            line-height: 1.6;
        }

  